*{
    color: white;
}
.header{
    display: grid;
    height: 30px;
    grid-template-columns: auto auto;
    justify-content: space-between;
    margin: 7px;
}
.container{
    background-color: #333333;
    border: 1px solid #222222;
}
i.fa-sun{
    display: none;
    visibility: hidden;
}
.display-screen{
    background-color: #1476b3;
    border: 2px solid darkgray;
}
.display-numeric>button{
    background-color: #555555;
}
.display-numeric>button:hover{
    background-color: #444444;
}
#btn-res{
    background-color: #1476b3;
}
#btn-res:hover{
    background-color: #126091;
}